@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hilangkan panah atas/bawah di input number (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hilangkan panah di Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}